<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>714979653069-7biidd4fqu60omkoqni1dbtftr40hn4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714979653069-7biidd4fqu60omkoqni1dbtftr40hn4m</string>
	<key>API_KEY</key>
	<string>AIzaSyAtA5QWDESm20n2Pu9mrzHktjJHUcJymDo</string>
	<key>GCM_SENDER_ID</key>
	<string>714979653069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mcraf.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-33730</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-33730.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:714979653069:ios:8efae77fbd1e4854</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-33730.firebaseio.com</string>
</dict>
</plist>